main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  padding-block: 24px;
}

main img {
  width: 286px;
  height: 286px;

  object-fit: contain;
}

@media (width <= 80em) {
  main {
    padding: 16px;
    justify-content: center;

    & img {
      max-width: 328px;
      max-height: 328px;
    }
  }
}
